extends ./layout

block links
	a(href="/admin" class="link") Back to Admin
	
block content
	h3(class="mb-4") Edit Product
	form(action="/admin/product/edit/" + product._id method="post" enctype="multipart/form-data") 
		.row
			.col-6
				.form-group
					input.form-control(type="text", aria-describedby="Title", placeholder="Title" name="title" value=product.title)
			.col-6
				.form-group
					input.form-control(type="text", aria-describedby="slug", placeholder="Slug" name="slug" value=product.slug)
		.row
			.col-6
				.form-group
					input.form-control(type="number", aria-describedby="price", placeholder="Price" name="price" value=product.price)
			.col-6
				.form-group
					input.form-control(type="text", aria-describedby="link", placeholder="Link" name="link" value=product.link)
		.row
			.col-6
				.form-group
					label Image
					input.form-control-file(type="file" name="imageUpload" id="imageUpload")
			.col-6
				img(src='/productImages/'+product.imgLink class="admin_productImg")
		.form-group
			label Description
			textarea(class="form-control" rows=5 name="description") #{product.description}
		button(class="btn btn-primary" type=submit) Save
