extends ../layout

block links
    a(href="/admin" class="link") Back to Admin
    
block content
    h3(class="mb-4") Settings
    h3 #{msg}
    div(class="mt-5")
        for setting in settings
            form(action="/admin/products/settings/update/" + setting._id method="post" class="my-4 d-flex flex-row justify-content-between") 
                div(class="d-flex flex-row align-items-center")
                    span.settings_name #{setting.humanName}
                    input.form-control(type="number", aria-describedby=setting.humanName placeholder=setting.humanName name=setting._id required value=setting.value)
                div()
                    button(class="btn btn-edit btn-outline-warning" type=submit) Update
